/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
.env
.env.testing
.env.php
.env.*.php
.phpunit.result.cache
package-lock.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

composer.phar
.php_cs.cache
/node_modules
/.vagrant
.php_cs

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
