$user-message-area: #deffe2;
$other-user-message-area: #dce2ff;
$other-user-message-area2: #eeeeee;

.btn {
    a {
        color: #fff!important;
    }
    &:focus {
        box-shadow: none;
    }
}
section {
    margin-bottom: 30px;
}
h2 {
    &:before {
        content: '■';
    }
}
h3 {
    font-size: 1.3rem;
    &:before {
        display: inline-block;
        vertical-align: middle;
        content: '■';
        font-size: 1rem;
        margin-right: 3px;
        margin-left: 12px;
    }
}
nav {
    max-height: 55px;
}
option {
    background: #ecfbe4;
}


/*========================================
レイアウト
======================================= */
#app {
    nav {
        position: relative;
        a {
            color: #333;
        }
        li {
            &:hover {
                border-bottom: 1px solid #333;
            }
        }
    }
}
/* フラッシュメッセージ */
.flash-msg {
    position: absolute;
    top: 60px;
    z-index: 100;
}

/*========================================
トップページ
======================================= */
.jumbotron {
    position: relative;
    background: url("/images/gym.jpg");
    background-size: cover;
    border-radius: 0;
    height: calc(100vh - 95px);
    min-height: 600px;
    margin: 0;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    p {
        font-weight: bold;
        &:last-of-type {
            font-size: 12px;
        }
    }
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255,255,255,0.25);
    }
}
.top-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.flex {
    display: flex;
}

footer {
    height: 40px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        width: 100%;
        margin: 0;
    }
}

/*========================================
メッセージルーム
======================================= */
#boards-show{
    h1 {
        margin-bottom: 30px;
    }
    .message-area-box {
        max-height: 100vh;
        padding: 25px;
        overflow-y: scroll;
        background: #f3f3f3;
    }
    .message-area {
        padding: 20px;
        margin-top: 30px;
        border-radius: 20px;
        &:first-child {
            margin: 0;
        }
        .message {
            margin-bottom: 15px;
        }
        p {
            margin: 0;
        }
    }
    .user-message-area {
        background: $user-message-area;
    }
    .other-user-message-area {
        background: $other-user-message-area2;
    }
    .message-form {
        margin-top: 30px;
        form {
            display: flex;
            flex-direction: column;
            input[type="submit"] {
                margin-top: 10px;
                width: 10%;
                min-width: 100px;
            }
        }
    }
}

/* sports/index */
.sports-index .form-wrap {
    width: 100%;
}

/*========================================
チームページ
======================================= */
/* team-head */
.team-head {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    h1 {
        margin: 0;
    }
    button {
        margin-left: 20px;
    }
}

/* sec-head */
.sec-head {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    h2 {
        margin: 0;
    }
    form {
        margin-left: 20px;
    }
}

/* お気に入り登録 */
.like-button {
    border: none;
    background: none;
    font-size: 30px;
}
.fa-star {
    color: #eded00;
}

/*========================================
ユーザーページ
======================================= */
.button-box {
    display: flex;
    margin-bottom: 30px;
}

/*========================================
検索ページ
======================================= */
#search {
    li {
        list-style: none;
    }
    .form-sec {
        position: relative;
    }
    .reset-btn {
        position: absolute;
        transform: translate(100%, -100%);
    }
    .search-table-header {
        border-top: 1px solid #dbdbdb;
        font-weight: bold;
    }
    .search-table-body {
        a {
            &:nth-of-type(odd) {
                .search-list {
                    background: #ebebeb;
                }
            }
        }
    }
    .search-list {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 10px 0 10px;
        border-bottom: 1px solid #dbdbdb;
        .search-list-item {
            width: 16.6%;
            padding-left: 20px;
        }
    }
}