@charset "UTF-8";

.btn a {
  color: #fff !important;
}

nav {
  max-height: 55px;
}

.jumbotron {
  position: relative;
  background: url("/images/gym.jpg");
  background-size: cover;
  border-radius: 0;
  height: calc(100vh - 95px);
  margin: 0;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

.jumbotron p {
  font-weight: bold;
}

.jumbotron:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.25);
}

.top-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.flex {
  display: -webkit-box;
  display: flex;
}

footer {
  height: 40px;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

footer p {
  width: 100%;
  margin: 0;
}

/* メッセージルーム */

.message-area-box {
  height: 100vh;
  padding: 10px;
  overflow-y: scroll;
  background: #e2f3ff;
}

.message-area {
  padding: 20px;
  margin-top: 30px;
  border-radius: 20px;
}

.message-area .message {
  margin-bottom: 15px;
}

.message-area p {
  margin: 0;
}

.user-message-area {
  background: #deffe2;
}

.other-user-message-area {
  background: #eeeeee;
}

.message-form {
  margin-top: 30px;
}

.message-form form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.message-form form input[type=submit] {
  margin-top: 10px;
  width: 10%;
  min-width: 100px;
}

